.rent {
    padding: 120px 0px 100px 0px;
}

.rent__title {
    margin-bottom: 15px;
}

.filter-btns {
    display: flex;
    column-gap: 10px;
    margin-bottom: 50px;
}

.active {}

.rent__carusel {}

.rent__carusel-container {
    position: relative;
}

.rent__carusel-control {
    position: absolute;
    top: 207px;
}

.rent__carusel-control--prev {
    left: 0px;
}

.rent__carousel-inner {
    display: flex;
    column-gap: 20px;
    overflow-x: hidden;
    padding: 10px;
    margin: 0px -10px 50px;
}

.card {
    width: 380px;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.card__img {
    height: 222px;
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__content {
    padding: 33px 40px 40px;
}

.card__details {}

.card__detail {
    display: flex;
    justify-content: space-between;
}

.card__label {
    display: flex;
    flex: 1;
}

.card__label::after {
    content: "";
    display: inline-block;
    border-bottom: 1px dashed #e6e6e6;
    flex: 1;
}

.card__value {}

.card__value--status--true {}

.card .btn {
    width: 100%;
}

.rent__carusel-control--next {
    right: 0;
}

.carousel__indicators {}

.carousel__indicator {}