.header {
    background-color: #2c3b45;
    padding-top: 29px;
    color: #fff;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: block;
}

.nav {}

.header__nav {
    background-color: #404F59;
    border-radius: 0 0 10px 10px;
    padding: 20px 40px;
    margin-top: -29px;
}

.nav__list {
    display: flex;
    column-gap: 30px;
}

.nav__item {}

.nav__link {
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.phone {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #fff;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.phone::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../../images/icons/tel.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.phone span {
    color: rgba(255, 255, 255, 0.4);
}