.header {
    background-color: #2c3b45;
    padding-top: 29px;
    color: #fff;
}

.menu {}

.logo {
    display: block;
}

.nav {}

.nav__list {}

.nav__item {}

.nav__link {
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.phone {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #fff;
}

.phone span {
    color: rgba(255, 255, 255, 0.4);
}