.hero {
    background-color: #2C3B45;
    padding-top: 71px;
    border-bottom: 50px solid #1E92E7;
}

.hero__container {
    display: flex;
    justify-content: space-between;
}

.hero__content {
    /* 602/1180 (Ширина блока/Ширина контейнера) */
    flex: 1 0 51%;
    /* 92/1180*100 = 7,8% */
    padding-top: 7.8%;
    padding-bottom: clamp(100px, 15.9vw, 200px);
}

.address {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #1E92E7;
}

.title {}

.hero__btns {}

.btn {}

.btn--blue {}

.btn--large {}

.btn--outline {}

.btn--small {}

.hero__img-wrap {
    flex: 1 0 49%;
}

.hero__img {}